.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footer-form-newsletter > div{
  align-items: center;
}

nav input, button, .btn {
  border-radius: 2em !important;
}

nav .fas {
  font-size: 2em;
}

nav .fas:hover {
  color: #282c34;
}

.soustitre {
  font-size: .8em;
}

.carousel-inner img {
  margin: auto;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-inner {
  height: 20em;
}

.card-product {
  width: 25em;
  height: 25em;
  margin: 1em;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-img-container{
  display: flex;
  align-self: center;
  height: 10em;
  width: 10em;
}

.card-img-container > img{
  height: 100%;
  width: 100%;
}

.section-marg {
  margin: 2em;
}

.marg-hauteur {
  margin-top: 3em;
  margin-bottom: 3em;
}

.flex {
  display: flex;
}

.flex img {
  height: 100%;
  width: 20em;
  margin-right: 2em;
}

.flexouille {
  display: flex;
}

.flexouille .form-group:first-child {
  margin-right: 2em;
}

.flexouille * {
  width: 100%;
}

#btn-recherche {
  padding-right: 2em;
}

.detail {
  display: flex;
  flex-direction: column;
}

.detail  label {
  font-weight: bold;
}

.container > .flex {
  margin: 2em;
}

.card-link:hover {
  text-decoration: none;
  transform: scale(1.01);
  border-color: black;
  transition: 0.3s;
}

.card-link:hover > .card {
  border-color: slategrey;
  transition: 0.3s;
}

.card-link {
  margin-left: 1.25rem;
}

.header-icon a {
  margin: 2em;
}

.flex-prix {
  display: flex;
  justify-content: space-between;
}

.remove {
  cursor: pointer;
}

.price-cart{
  width: 10em;
}

.payment form {
  display: flex;
  flex-direction: column;
}

.payment .creditCardInput, .div-commande {
  margin: 3em 0;
}

.badge-cart {
  position: relative;
  left: -1em;
  background-color: red;
  border-radius: 100%;
  min-width: 1em;
  color:white;
  font-size: 1.1em;
}

.img-commande {
  width: 10em;
}